/*
CSS for xaringan slides in UU flavor
Author: Pablo Lillo Cea 
(heavily based on Joseph V. Casillas's work for Rutgers University)
Updated: 27/10/2021
*/

/* Package defaults that we slightly tweak */

a, a > code {
  color: #990000; /* rgb(153, 0, 0) */
  text-decoration: none;
}


/* slightly lower and bigger than default */
.footnote {
  position: absolute;
  bottom: 1em;
  padding-right: 4em;
  font-size: 95%;
}

/* wrap code chunks */
.remark-code-line {
	white-space: pre-wrap;
	padding-left: 1.85em;
	text-indent: -1.85em;
}

/* important code slightly red */
.remark-code-line-highlighted {
  background-color: #FFD3DE !important;
}

/* color tweak */
.inverse {
  background-color: #363636;
  color: #fff;
}

/* slightly spacing change */
.inverse h1, .inverse h2, .inverse h3 {
  color: #f3f3f3;
  line-height: 1.0em;
}


/* Two-column layout (slightly wider for aspect ration) */
.left-column {
  color: #777;
  width: 25%;
  height: 92%;
  float: left;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}

/* slightly thiner to suppor aspect ration */
.right-column {
  width: 70%;
  float: right;
  padding-top: 1em;
}

.pull-left {
  float: left;
  width: 45%;
}

.pull-right {
  float: right;
  width: 45%;
}

.pull-right ~ * {
  clear: both;
}

img, video, iframe {
  max-width: 100%;
  z-index: 5;
}

blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}

/* adjust table horizontal spacing */
th, td {
    padding:0 15px 0 15px;
}

/* remove color from tables */
table {
  margin: auto;
  border-top: none;
  border-bottom: none;
  font-size: 20px;
  font-family: 'Ubuntu Mono';
  font-weight: 400;
}

table thead th { border-bottom: none; }
thead, tfoot, tr:nth-child(even) { background: none;
}

/* leave this alone */
@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}



/*~~~~~~~~~~~~~~*/
/* RU additions */
/*~~~~~~~~~~~~~~*/

/* Title slide */

/* Add image and change bg color */
.title-slide {
  background-image: url('./img/uulogo.png');
  background-position: 8% 15%;
  background-size: 15%;
  background-color: #fff;
}

/* H1 fonts */
.title-slide h1 {
  color: #990000;
  padding-top: 150px;
  font-weight: bold;
  font-size: 50px;
  line-height: 1.1em;
  text-align: center;
  text-shadow: none;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* H2 fonts */
.title-slide h2 {
  color: #990000;
  font-size: 35px;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  text-shadow: none;
  padding-bottom: 40px;
  padding-top: 0px;
  margin-top: 0px;
}

/* H3 fonts */
.title-slide h3 {
  font-size: 24px;
  font-weight: normal;
  color: #666666;
  text-align: left;
  text-shadow: none;
  padding: 5px;
  margin: 0px;
  line-height: .8;
}

/* Remove slide count */
.title-slide .remark-slide-number {
  text-shadow: none;
  display: none;
}

.title-slide-final .remark-slide-number {
  display: none;
}

/*~~~~~~~~~~~~~~~~~~*/
/* SECTION DIVIDERS */
/*~~~~~~~~~~~~~~~~~~*/

/* section divider red */
.title-slide-section-red {
  background-color: #990000;
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
}

/* section divider red H1 fonts */
.title-slide-section-red h1, .title-slide-section-red h2, .title-slide-section-red h3, .title-slide-section-red p {
  color: #fff;
}

/* section divider grey */
.title-slide-section-grey {
  background-color: #515151;
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
}

/* section divider grey H1 fonts */
.title-slide-section-grey h1, .title-slide-section-grey h2, .title-slide-section-grey h3 {
  color: #fff;
}

.title-slide-section-grey p {
  color: #fff;
}

/*~~~~~~~~~~~~~~~~~~*/
/* FINAL SLIDE      */
/*~~~~~~~~~~~~~~~~~~*/

.title-slide-final {
  background-color: #990000;
  color: #fff;
  font-size: 26px;
  padding-left: 100px;
  text-shadow: 0 0 20px #bbb;
  text-align: center;
}

.title-slide-final h1 {
  color: #fff;
}

/*~~~~~~~~~~~~~~~~~~~~*/
/* Global adjustments */
/*~~~~~~~~~~~~~~~~~~~~*/

/* Add padding to all slides for 16:9 aspect ratio */
.remark-slide-content {
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
  font-size: 24px;
}

.remark-slide-content:not(.title-slide):not(.inverse):not(.title-slide-final) {
  background-image: url('img/watermark.png');
  background-position: right -300px top -320px;
  background-size: 60%;
}
.remark-slide-content h2{
  font-size: 28px;
}

.remark-slide-content code{
  font-size: 14px;
}


/* Color adjustments for text */

/* Make bold syntax compile to RU-red */
strong {
  color: #990000;
}

.UUred {
  color: #990000;
}

.white {
  color: white;
}

/* Add blue tag */
.blue {
  color: #0000CC;
  font-weight: bold;
}

/* Add grey tag */
.grey {
  color: #515151;
}

.lightgrey {
  color: #818181;
}

/* Force black */
.black {
  color: black;
  font-weight: bold;
}

/* Add white tag */
.white {
  color: white;
}

/* Color adjustments to headers */
h1 {
  color: #990000;
}

h3 {
  color: #333333;
}

/* Font size tags */
.big {
  font-size: 1.5em;
}

/* ru blockquote */
ru-blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
  border-left: solid 10px #990000;
  background-color: #818181;
  padding: 1em;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}