 @import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300;400;500;600;700&family=Ubuntu+Condensed&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

h1 {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 4em;
}

h2 {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 2em;
}

h3 {
  font-family: 'Kreon';
  font-weight: 300;
  font-size: 1em;
}

body {
  font-family: "Kreon";
  font-weight: 300;
}

.remark-code, .remark-inline-code { 
  font-family: 'Ubuntu Mono', monospace;
}

.remark-code-line-highlighted     { background-color: #ffff88; }